## MS

# DB
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# ENV
NODE_ENV=
IS_LOGGED_MODE=

# REDIS
SEI_NOMENCLATURE_DB=
SEI_FACTORS_DB=
SEI_MEMCALC_DB=

# APP
APP_PORT=

# SES
MAIL_DRIVER=

# ETHEREAL
EMAIL=
EMAIL_PORT=
EMAIL_HOST=
EMAIL_PASSWORD=

# SEI_API
SEI_BASE_URL=
SEI_API_BASE_URL=

# AWS_KEY
ACCESS_KEY=
SECRET_ACCESS_KEY=

# REGION
AWS_DEFAULT_REGION=

# JWT
AUTH_ISSUER=
AUTH_SECRET=
AUTH_AUDIENCE=
AUTH_EXPIRES_IN=
REFRESH_EXPIRES_IN=
REFRESH_SESSION_EXPIRES_IN=
REFRESH_SECRET=

# ENCRYPTION_KEY
ENCRYPTION_SECRET_KEY=

# AWS_SERVICES_URI
MS_USERS_WEB_SOCKET_URI=

## REACT

# S3
REACT_APP_ACCESS_KEY_ID=
REACT_APP_SECRET_ACCESS_KEY=

# BASE
REACT_APP_BASE_URL=

# ENV
REACT_APP_ENV=
REACT_APP_DATE_VERSION=

# SEI_API
REACT_APP_IS_NEW_VERSION=
REACT_APP_API_BASE_URL=

# KEY
REACT_APP_ENCRYPTION_SECRET_KEY=

# URI
REACT_APP_MS_USERS_WEBSOCKET_URI=
CLUSTER_REDIS_URI=
